
div.Object
{
	display: block;
	position: absolute;
	box-sizing: border-box;
	
}


div.ResizeHandle
{
	display: block;
	position: absolute;
	background-color: black;
	right: 0;
	bottom: 0;
	width: 16px;
	height: 16px;
	z-index: 10;
}


div.NumTag
{
	display: block;
	position: absolute;
	background-color: black;
	left: 0;
	top: 0;
	z-index: 10;
	visibility: hidden;
	color: white;
	font-size: 9pt;
	font-family: sans-serif;
	padding: 2px;
}


div.FieldOutlines div.NumTag
{
	visibility: visible;
}



div.Field
{
	/*outline: none;*/
}


div.Field.Editable
{
	cursor: text;
	-webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


div.FieldOutlines div.Field
{
	outline: 1px solid #999;
	
	/*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}







div.Button
{
	/*outline: none;*/
	/*display: block;
	position: absolute;*/
	
}


div.Button.Editable
{
	/*outline: none;*/
}


div.ButtonOutlines div.Button
{
	outline: 1px solid #999;
}


div.Button div.St
{
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
}


div.Button div.Cp
{
	display: inline-block;
}









﻿

