
div.Object
{
	display: block;
	position: absolute;
	box-sizing: border-box;
	
}


div.ResizeHandle
{
	display: block;
	position: absolute;
	background-color: black;
	right: 0;
	bottom: 0;
	width: 16px;
	height: 16px;
}


div.Field
{
	/*outline: none;*/
}


div.Field.Editable
{
	cursor: text;
	-webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}


div.FieldOutlines div.Field
{
	outline: 1px solid #999;
	
	/*-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}


div.FieldOutlines div.Field.Selected
{
	outline: 3px solid rgba(0,0,255,0.8);
}




div.Button
{
	/*outline: none;*/
}


div.Button.Editable
{
	/*outline: none;*/
}


div.ButtonOutlines div.Button
{
	outline: 1px solid #999;
}


div.ButtonOutlines div.Button.Selected
{
	border: 3px solid rgba(0,0,255,0.8);  /* outline seems to not work properly in firefox!! */
}








﻿

