#MessageBoxText
{
	background-image: none;
	background-color: white;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	border: 0;
	font-family: monospace;
}


.Layer
{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}



/*****************************************************************************************
Lock Screen and Visual Effect Static Overlays
*/

.LayerVisual
{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	background-color: white;
	opacity: 1;
	animation-iteration-count: 1;
    animation-timing-function: linear;
}


.LayerVisualInner
{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	animation-iteration-count: 1;
    animation-timing-function: linear;
}



/*****************************************************************************************
Visual Effect Animations
*/

/* Dissolve */

@keyframes visual-dissolve 
{
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.VisualDissolve
{
	animation-name: visual-dissolve;
}


/* Wipe Left */

@keyframes visual-wipe-left 
{
    0% { width: 100%;}
    100% { width: 0%;}
}

.VisualWipeLeft
{
	animation-name: visual-wipe-left;
}


/* Wipe Right */

@keyframes visual-wipe-right-outer
{
	0% { left: 0%; }
    100% { left: 100%;  }
}

@keyframes visual-wipe-right-inner
{
    0% { left: 0%;  }
    100% { left: -100%; }
}

.VisualWipeRight
{
	animation-name: visual-wipe-right-outer;
}

.VisualWipeRight .LayerVisualInner
{
	animation-name: visual-wipe-right-inner;
}


/* Slide Left */

@keyframes visual-slide-left
{
    0% { left: 0%; }
    100% { left: -100%;  }
}

.VisualSlideLeft
{
	animation-name: visual-slide-left;
}


/* Slide Right */

@keyframes visual-slide-right 
{
    0% { left: 0%; width: 100%;}
    100% { left: 100%; width: 0%; }
}

.VisualSlideRight
{
	animation-name: visual-slide-right;
}




